{% extends 'AppSiteBundle:Default:template.html.twig' %}





{% block slider %}
{% endblock %}


{% block promociones %}
{% endblock %}


{% block contenido %}

<!-- Items -->

<div class="items">
  <div class="container">
    <div class="row">

      <!-- Sidebar -->
      <div class="col-md-4 col-sm-4 hidden-xs">

        <h5 class="title">Categorias</h5>
        <!-- Sidebar navigation -->
        <nav>
          <ul id="nav">
            <!-- Main menu. Use the class "has_sub" to "li" tag if it has submenu. -->
         

          {% for categoria in categorias %}    
               <li class="has_sub categoria_list"    {% if loop.index > 5 %}      style="display:none;"  {% endif %} >
                  <a href="{{  path('ver_categoria', { id_categoria : categoria.id }) }}">{{ categoria.nombre }}</a>
               </li>
          {% endfor %}
 
<!--             <li class="has_sub"><a href="#">Tablet</a>
              <ul>
                <li><a href="items.html">Samsung</a></li>
                <li><a href="items.html">Apple</a></li>
                <li><a href="items.html">Motorola</a></li>
              </ul>
            </li>
 -->
           
          </ul>
          <a href="#"  onclick="$('.categoria_list').show('fast')" >  Ver mas categorias </a>
        </nav>
        <br />
        <!-- Sidebar items (featured items)-->

        <!-- AQUI VAN LOS PRODUCTOS PROMOCIONADOS
        productos.promocionados.html.twig
 -->
        <!-- Sidebar items (featured items)-->

      

      </div>

      <!-- Main content -->

      <div class="col-md-8 col-sm-8">

        <!-- Breadcrumbs -->
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a> <span class="divider">/</span></li>
          <li><a href="items.html">{{ producto.categoria.nombre }}</a> <span class="divider">/</span></li>
          <li class="active">{{ producto.nombre }}</li>
        </ul>

        <!-- Product details -->

        <div class="product-main">
          <div class="row">
            <div class="col-md-6 col-sm-6">

              <!-- Image. Flex slider -->
              <div class="product-slider">
                <div class="product-image-slider flexslider">
                  <ul class="slides">
                    <!-- Each slide should be enclosed inside li tag. -->

                    <!-- Slide #1 -->
                    <li>
                      <img src="{{  asset('uploads/productos/'  ~ producto.imagen ) }}" alt="{{  producto.descripcion }}"/>
                    </li>



                  </ul>
                </div>
              </div>

            </div>
            <div class="col-md-6 col-sm-6">
              <!-- Title -->
              <h4 class="title">{{  producto.nombre }}</h4>
              <h5>Precio : ${{  producto.precio }}</h5>
              <p>Disponibilidad : En stock</p>
              <!-- Dropdown menu -->
              <div class="form-group">                               
                <select class="form-control">
                  <option>Color</option>
                  <option>Black</option>
                  <option>White</option>
                  <option>Grey</option>
                </select>  
              </div>

              <!-- Quantity and add to cart button -->

              <div class="row">
               <div class="col-md-6">
                <div class="input-group">
                  <input type="text" class="form-control input-sm" value="2">
                  <span class="input-group-btn">
                   <button class="btn btn-default btn-sm" type="button">Add to Cart</button>
                 </span>								  
               </div>
             </div>
           </div>

           <!-- Add to wish list -->
           <a href="wish-list.html">+ Agregar a wish list</a>


         </div>
       </div>
     </div>

     <br />

     <!-- Description, specs and review -->

     <ul class="nav nav-tabs">
      <!-- Use uniqe name for "href" in below anchor tags -->
      <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
      <li><a href="#tab2" data-toggle="tab">Especificaciones</a></li>
      <li><a href="#tab3" data-toggle="tab">Comentarios(0)</a></li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content">
      <!-- Description -->
      <div class="tab-pane active" id="tab1">
        <h5>{{  producto.nombre }}</h5>
        <p>{{  producto.descripcion }}</p>
  <!--       <h6>Caracteristicas</h6>
        <ul>
          <li>Etiam adipiscing posuere justo, nec iaculis justo dictum non</li>
          <li>Cras tincidunt mi non arcu hendrerit eleifend</li>
          <li>Aenean ullamcorper justo tincidunt justo aliquet et lobortis diam faucibus</li>
          <li>Maecenas hendrerit neque id ante dictum mattis</li>
          <li>Vivamus non neque lacus, et cursus tortor</li>
        </ul> -->
      </div>

      <!-- Sepcs -->
      <div class="tab-pane" id="tab2">

        <h5 class="title">Especificaciones de productos</h5>
        <table class="table table-striped tcart">
          <tbody>
            <tr>
              <td><strong>Caracteristica</strong></td>
              <td>valor caracteristica</td>
            </tr>
            <tr>
              <td><strong>Caracteristica</strong></td>
              <td>valor caracteristica</td>
            </tr>

                                                                                                        
          </tbody>
        </table>

      </div>

      <!-- Review -->
      <div class="tab-pane" id="tab3">
        <h5>Comentarios</h5>
        <div class="item-review">
          <h5>Ravi Kumar - <span class="color">4/5</span></h5>
          <p class="rmeta">27/1/2012</p>
          <p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
        </div>

        <hr />
        <h5 class="title">Escribe un comentario</h5>

        <div class="form form-small">

        {%  render(controller("AppSiteBundle:Default:comentar")) %}


      </div> 

    </div>

  </div>

</div>                                                                    



</div>
</div>
</div>

<!-- Recent items carousel starts -->









{% endblock %}



{% block js_adicional %}
    

    <script type="text/javascript">

    $(document).ready(  function(){

        $(".rating").raty({
          starOff:"/listafacil/web/bundles/appsite/img/star-off.png",
          starOn:"/listafacil/web/bundles/appsite/img/star-on.png"
        });

    } );

    </script>


{% endblock %}