  


  <ul class="nav navbar-nav">
     <li><a href="{{  path('home') }}"><i class="icon-home"></i></a></li>
     <li><a href="{{  path('quienes_somos') }}">Quienes somos?</i></a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <b class="caret"></b></a>
      <ul class="dropdown-menu">
          {% for categoria in categorias %}
            <li><a href="{{  path('ver_categoria' , {id_categoria: categoria.id }) }}">{{  categoria.nombre }}</a></li>
          {% endfor %}
      </ul>
    </li>
    
    <li><a href="{{  path('home') }}">Novedades</i></a></li>
    
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Listas Utiles <b class="caret"></b></a>
      <ul class="dropdown-menu">
      {% for institucion  in instituciones %}
    
        <li><a href="items.html">{{  institucion.nombre }}</a></li>
      {% endfor %}
      </ul>
    </li>                                      
    <!-- <li><a href="support.html">Soporte</a></li> -->
    <li><a href="{{  path('contactenos') }}">Contactenos</a></li>
  </ul>
